<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.college_students_communication_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ca"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ca_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeStudentsCommunicationApp">
        <activity
            android:name=".GroupChatActivity"
            android:parentActivityName=".JoinGroupActivity"
            android:exported="false" />
        <activity
            android:name=".JoinGroupActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Sign Up"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>